%h1 CableNotify

%h2 Notifications#index

-# %div
-#  user id:
-#  = cookies.signed[:user_id]

#vue-app
  notifications:
  %ol
    %li(v-for='notification in notifications')
      {{ notification.text }}
